# dependencies
node_modules

# production
dist
dist-ssr

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# misc
.DS_Store
*.log

# environment
.env
.env.local
.env.*.local

# testing
coverage
